.App-header {
  background-color: #000000;
  min-height: 20vh;
}

.App {
  background-color: #000000;
  min-height: 200vh;
}

@font-face {
  font-family: "ExanRegular";
  src: local("ExanRegular"),
    url("./fonts/Exan-Regular.ttf") format("truetype");
  font-weight: bold;
}

.font-face-er-main-text {
  display: flex;
  font-family: "ExanRegular";
  color: white;
  margin-left: 42%;
  padding-top: 4%;
  animation-name: entrymain;
  animation-duration: 1s;
}

.font-face-er-smol-text-redefine {
  display: inline-flex;
  font-family: "ExanRegular";
  color: white;
  margin-top: 1%;
  margin-left: 39%;
  animation-name: entrysecondary;
  animation-duration: 1s;
}

.font-face-er-smol-text-space {
  display: inline-flex;
  font-family: "ExanRegular";
  color: white;
  margin-top: 1%;
  margin-left: 2%;
  animation-name: entrysecondary;
  animation-duration: 1s;
}

@keyframes entrymain {
  from {
    padding-top: 0%;
    opacity: 0;
  }

  to {
    padding-top: 4%;
    opacity: 1;
  }
}

@keyframes entrysecondary {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}