.button1 {
  font-family: "Voyager";
  max-width: 100%;
  max-height: 100%;
  height: 7%;
  font-size: larger;
  width: 18%;
  color: white;
  background-color: transparent;
  padding: 3%;
  border: 1px white solid !important;
}

.button1-sign-me-up {
  font-family: "Voyager";
  max-width: 100%;
  max-height: 100%;
  height: 10%;
  width: auto;
  color: white;
  background-color: transparent;
  padding: 5%;
  border: 1px white solid !important;
}

.button1-sign-me-up:hover {
  background-color: white;
  color: black;
}

.button1:hover {
  background-color: white;
  color: black;
}

.buttonwelcome {
  flex: 1;
  color: white;
  justify-content: center;
  font-family: "ExanRegular";
  background-color: transparent;
  padding: 0%;
  border-width: 0px;
}

.spacedlist {
  padding-bottom: 2%;
}

a:link {
  color: white;
}

a:visited {
  color: rgb(227, 228, 225);
}

@font-face {
  font-family: "ExanRegular";
  src: local("ExanRegular"),
    url("./fonts/Exan-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Voyager";
  src: local("Voyager"),
    url("./fonts/Voyager.ttf") format("truetype");
  font-weight: bold;
}

@keyframes entrymain {
  from {
    padding-top: 0%;
    opacity: 0;
  }

  to {
    padding-top: 4%;
    opacity: 1;
  }
}

@keyframes entrysecondary {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes entrycontent {
  from {
    margin-top: 10%;
    opacity: 0;
  }

  to {
    margin-top: 3%;
    opacity: 1;
  }
}

@keyframes entrywelcome {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes entrymain420 {
  from {
    padding-top: 0%;
    opacity: 0;
  }

  to {
    padding-top: 15%;
    opacity: 1;
  }
}

@media (max-width:420px) and (min-width:360px) {

  .font-face-er-main-text-register {
    display: flex;
    justify-content: center;
    font-size: 150%;
    margin-left: 3%;
    padding-top: 15%;
    animation-name: entrymain420;
  }

  .font-face-er-smol-text-join {
    font-size: 90%;
    padding-top: 3%;
    margin-left: 16%;
  }

  p {
    font-size: 15px;
    margin-right: 5%;
  }

  .input-padding {
    font-size: 15px
  }

  font {
    font-size: 15px;
  }

  .submitbutton {
    position: relative;
    align-items: center;
    left: 45%;
    width: 58%;
  }

  .name-form,
  .email-form {
    margin-top: 20%;
  }

  .phone-form {
    margin-top: 10%;
  }

  form {
    margin-top: 18%;
  }
}