.App {
    background-color: #000000;
    background-image: url('../images/background.jpg');
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
}

.font-face-er-main-text {
    display: flex;
    font-family: "ExanRegular";
    color: white;
    margin-left: 40%;
    padding-top: 1%;
    animation-name: entrymain;
    animation-duration: 1s;
}

.font-face-er-smol-text-redefine {
    display: inline-flex;
    font-family: "ExanRegular";
    color: white;
    margin-top: 1%;
    margin-left: 36%;
    animation-name: entrysecondary;
    animation-duration: 1s;
}

.font-face-er-smol-text-space {
    display: inline-flex;
    font-family: "ExanRegular";
    color: white;
    margin-top: 1%;
    margin-left: 2%;
    animation-name: entrysecondary;
    animation-duration: 1s;
}

.flexible {
    height: 90%;
    max-width: 100%;
    display: grid;
    margin-top: 3%;
    margin-left: 10%;
    grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
    animation-name: entrycontent;
    animation-duration: 1.2s;
}

@media (max-width:420px) and (min-width:360px) {
    .flexible {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
        animation-name: entrycontent;
        animation-duration: 1.2s;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 10%;
        padding: 0%;
    }

    .font-face-er-main-text {
        font-size: xx-large;
        display: flex;
        font-family: "ExanRegular";
        color: white;
        margin-left: 23%;
        margin-right: 18%;
        padding-top: 4%;
        animation-name: entrymain;
        animation-duration: 1s;
    }

    .font-face-er-smol-text-redefine {
        font-size: large;
        display: inline-flex;
        font-family: "ExanRegular";
        color: white;
        margin-top: 1%;
        margin-left: 6%;
        margin-right: 5%;
        animation-name: entrysecondary;
        animation-duration: 1s;
    }

    .font-face-er-smol-text-space {
        font-size: large;
        display: inline-flex;
        font-family: "ExanRegular";
        color: white;
        margin-top: 1%;
        padding-left: 1%;
        animation-name: entrysecondary;
        animation-duration: 1s;
    }
}