.mssn-box-title {
    display: inline-block;
    max-width: 70%;
    max-height: 70%;
    padding-bottom: 2%;
    font-family: "Voyager";
    color: white;
}

.mssn-box-content {
    display: block;
    max-width: 70%;
    max-height: 70%;
    padding-bottom: 2%;
    font-family: "Voyager";
    color: white;
}