.App2 {
  background-color: #000000;
  background-image: url('../images/background.jpg');
  background-size: cover;
  min-height: 100vh;
  max-height: 100vh;
  background-repeat: no-repeat;
}

.font-face-er-main-text-register {
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
  font-family: "ExanRegular";
  color: white;
  margin-left: 30%;
  padding-top: 4%;
  animation-name: entrymain;
  animation-duration: 1s;
}

.font-face-er-smol-text-join {
  display: inline-flex;
  font-family: "ExanRegular";
  color: white;
  margin-top: 1%;
  margin-left: 37%;
  animation-name: entrysecondary;
  animation-duration: 1s;
}

.font-face-er-smol-text-space {
  display: inline-flex;
  font-family: "ExanRegular";
  color: white;
  margin-top: 1%;
  margin-left: 2%;
  animation-name: entrysecondary;
  animation-duration: 1s;
}

form {
  max-width: 100%;
  max-height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
  margin-top: 7%;
  left: 15%;
}

label {
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
  color: white;
  font-family: 'Voyager';
}

input {
  max-width: 100%;
  max-height: 100%;
  margin-top: -1.2%;
  margin-left: 40%;
  height: 11%;
  position: absolute;
  color: white;
  background-color: black;
  font-family: 'Voyager';
  width: 100% !important;
}

.errorfont {
  max-width: 100%;
  max-height: 100%;
  font-family: 'Voyager';
  color: white;
}

.submitbutton {
  position: relative;
  align-items: center;
  left: 60%;
}

.input-padding {
  padding-left: 1%;
}

.animationforform {
  animation-name: entrysecondary;
  animation-duration: 1s;
}

@media (max-width:420px) and (min-width:360px) {

  .font-face-er-main-text-register {
    display: flex;
    justify-content: center;
    font-size: 150%;
    margin-left: 3%;
    padding-top: 15%;
    animation-name: entrymain420;
  }

  .font-face-er-smol-text-join {
    font-size: 90%;
    padding-top: 3%;
    margin-left: 16%;
  }
  p{
    font-size: 15px;
    margin-right: 5%;
  }
  .font-face-er-smol-text-space {
    font-size: 90%;
    padding-top: 3%;
    margin-left: 5%;
  }

  .input-padding {
    font-size: 15px
  }

  font {
    font-size: 15px;
    /* margin-right: 5%; */
  } 

  .submitbutton {
    position: relative;
    align-items: center;
    left: 50%;
    border: white 1px !important;
  }

  .name-form,
  .email-form {
    margin-top: 20%;
  }

  .phone-form {
    margin-top: 10%;
  }

  form {
    margin-top: 18%;
  }
}