.font-face-er-main-text-register {
    display: flex;
    font-family: "ExanRegular";
    color: white;
    margin-left: 33%;
    padding-top: 4%;
    animation-name: entrymain;
    animation-duration: 1s;
}

.font-face-er-smol-text-join {
    display: inline-flex;
    font-family: "ExanRegular";
    color: white;
    margin-top: 1%;
    margin-left: 38%;
    animation-name: entrysecondary;
    animation-duration: 1s;
}

.font-face-er-smol-text-space {
    display: inline-flex;
    font-family: "ExanRegular";
    color: white;
    margin-top: 1%;
    margin-left: 2%;
    animation-name: entrysecondary;
    animation-duration: 1s;
}