.WWD-box-content-title {
    display: inline-block;
    max-width: 70%;
    max-height: 70%;
    padding-bottom: 3%;
    padding-top: 3%;
    font-family: "Voyager";
    color: white;
}

.WWD-box-content {
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 2%;
    font-family: "Voyager";
    color: white;
}

.borderline-wwd {
    max-width: 80%;
    max-height: 100%;
    border: 2px white solid !important;
    border-radius: 11%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Strtbutton {
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

@media (max-width:420px) and (min-width:360px) {
    .borderline-wwd {
        display: block;
        max-width: 100%;
        max-height: 100%;
        padding-bottom: 3%;
        padding-top: 3%;
        font-family: "Voyager";
        color: white;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .Strtbutton {
        display: flex;
        justify-content: center;
        padding-top: 8%;
    }
}